.password-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    position: relative;
}

.password-container input {
    flex: 1; /* Allow the input field to take up the remaining space */
}

.toggle-password {
    cursor: pointer;
    width: 20px;
    height: 20px; 
    object-fit: contain; 
    display: block; 
    margin-left: 8px; 
}